<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ handler.settings['site']['description'] }}">
    <meta name="keywords" content="{{ handler.settings['site']['keyword'] }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block header_title %}Site Title{% end %} - {{ handler.settings['site']['webname'] }}</title>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit">
    <base href="{{ base_url }}">
    <link rel="stylesheet" href="{{ static_url('assets/css/amazeui.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('assets/css/app.css') }}">
    {% block header_static %}{% end %}
</head>
<body>
<div class="minos-main">
{% block body %}Hello world! {% end %}
</div>

<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="{{ static_url('assets/js/jquery-1.11.1.min.js') }}"></script>
<![endif]-->

</body>
</html>